<h1>Liste des compositions</h1>

<ol>
  <% @compositions.each do |composition| %>
  <li>
    nom : <%= link_to composition.name, composition_path(composition) %>
      composition :
      <% composition.proportions.each do |compo| %>
        <%= compo.stems_number %> tiges de <%= compo.flower.name %> <%= compo.flower.color %>
    <% end %>
  </li>
  <% end %>
</ol>
