<h1>Liste des fleurs</h1>
<%= link_to 'ajouter une fleur', new_flower_path %> <br>
<div class="card_container">
  <div class="cards d-flex flex-wrap">
    <% @flowers.each do |flower| %>
    <div class="card card-flower" style="width: 120px; height: 120px">
        <%= link_to flower_path(flower) do %>
          <%= cl_image_tag flower.photo.key, class: "card-img-top" %>
        <% end %>
      <div class="card-text overlay_fl">
        <%= flower.name %>
      </div>
      </div>
    <% end %>
  </div>
</div>



