<h1>Aide à la commande de fleurs</h1>
<p>selectionne un item</p>

<%= link_to 'liste des fleurs', flowers_path %> <br>
<%= link_to 'ajouter une fleur', new_flower_path %> <br>

<%= link_to 'liste des compositions', compositions_path %> <br>
<%= link_to 'ajouter une composition', new_composition_path %> <br>

